
<!DOCTYPE html >

<html lang="fr">

<head>

    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>_Layout</title>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/holder.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />

</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

            <a class="navbar-brand " href="#">Brand</a>
            <a class="nav-link dropdown-toggle" href="#">Menu #1</a>
            <a class="nav-link" href="#">Menu #2</a>
            <a class="nav-link" href="#">Menu #3</a>
            <a class="nav-link" href="#">Menu #4</a>

        </nav>

    </header>

    <div class="container border border-dark" id="element_entete">

        <div class="row">

            <div class="col col-sm-3">
                <img src="~/Content/logo.jpg" class="img-fluid" />
            </div>
            <div class="col col-sm-9" id="mes_titres">
                <h1>Application Title</h1>
                <h2>Application SubTitle</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <article class="border border-dark col col-sm-10">

                @RenderBody()

            </article>

            <aside class="col col-sm-2 border border-dark ">

                <h1>
                    Aside
                </h1>

            </aside>

        </div>
    </div>

    <footer>

        <div class="container">

            <div class="row">

                <div class="col-sm-5 border border-dark">

                    <ol>
                        Links
                    </ol>

                    <ul>

                        <li>
                            Links
                        </li>
                        <li>
                            <a href="#">Link #1</a>
                        </li>
                        <li>
                            <a href="#">Link #2</a>
                        </li>
                        <li>
                            <a href="#">Link #3</a>
                        </li>
                    </ul>

                </div>

                <div class="col-sm-5 border border-dark">
                    <ol>
                        Sitemap
                    </ol>

                    <ul>
                        <li>
                            <a href="#">Link #1</a>
                        </li>
                        <li>
                            <a href="#">Link #2</a>
                        </li>
                        <li>
                            <a href="#">Link #3</a>
                        </li>
                    </ul>

                </div>


                <div class="col-sm-2 border border-dark">

                    <ul>

                        Copyright 2018

                    </ul>

                </div>

            </div>

        </div>

    </footer>

</body>

</html>
