
<!DOCTYPE html >

<html lang="fr">

<head>

    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <title>_Layout</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/css/Site.css"/>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/holder.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-3.3.1.min.js"></script>
    <link href="~/Content/fonts/fontawesome-webfont.eot" />
    <link href="~/Content/fonts/fontawesome-webfont.svg"/>
    <link  href="~/Content/fonts/fontawesome-webfont.ttf"/>
    <link href="~/Content/fonts/fontawesome-webfont.woff"/>
    <link href="~/Content/fonts/fontawesome-webfont.woff2" />
    <link href="~/Content/fonts/FontAwesome.otf"/>
    
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

            <a class="navbar-brand " href="#">Brand</a>
            <a class="nav-link dropdown-toggle" href="#">Menu #1</a>
            <a class="nav-link" href="#">Menu #2</a>
            <a class="nav-link" href="#">Menu #3</a>
            <a class="nav-link" href="#">Menu #4</a>

        </nav>
        
        <div class="container" id="bordure_entete">

            <div class="row">
           
                    <div class="col-sm">
                        <img src="~/Content/logo.jpg" />
                    </div>
                    <div class="col-sm" id="mes_titres">
                        <h1>Application Title</h1>
                        <h2>Application SubTitle</h2>
                    </div>
                </div>
            </div>
 

    </header>

    <div class="container">
        <div class="row">
        <div id="element_dynamique">

            @RenderBody()

        </div>

        <div id="element_aside"></div>
        <aside>

            <h1>
                Aside
            </h1>

        </aside>
        </div>
    </div>
    <footer>

        <div class="container">
            <div class="row">
                <div class="col-sm">

                    <ol>
                        Links
                    </ol>

                    <ul>

                        <li>
                            Links
                        </li>
                        <li>
                            <a href="#">Link #1</a>
                        </li>
                        <li>
                            <a href="#">Link #2</a>
                        </li>
                        <li>
                            <a href="#">Link #3</a>
                        </li>
                    </ul>

                </div>

                <div class="col-sm">
                    <ol>
                        Sitemap
                    </ol>

                    <ul>
                        <li>
                            <a href="#">Link #1</a>
                        </li>
                        <li>
                            <a href="#">Link #2</a>
                        </li>
                        <li>
                            <a href="#">Link #3</a>
                        </li>
                    </ul>

                </div>


                <div class="col-sm">
                    <ul>
                        <ol>
                            Copyright 2018
                        </ol>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
